@charset "UTF-8";

@media screen and (min-width: 800px){
    /*para o hamburguer nao aparecer*/
    span#burguer {
   display: none;
   font-size: medium;
    }
    p{
        font-size: medium;
    }
    /*para o menu aparecer*/
    menu {
    display: block;
    }
    /*para tornar o menu em blocos um do lado do outro*/
    menu > ul > li {
    display: inline-block;
  
    }

   
    
}