@charset "UTF-8";


/*versao celular*/
@media screen and (min-width: 768px){
    /*para o hamburguer nao aparecer*/
    span#burguer {
   display: none;

    }
    /*para o menu aparecer*/
    menu {
    display: block;
    
    }
    /*para tornar o menu em blocos um do lado do outro*/
    menu > ul > li {
    display: inline-block;
    width: 200px;
    
    }

  
    header {
        padding: 15px;
    }

    
    
}

/*versao celular*/
@media screen and (max-width: 768px){
    

    main{
        font-size: 30px;
    }
    
}