@charset "UTF-8";


 /* Versão para tablets e desktops */
 @media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
    header {
        padding: 40px;
    }
    menu > ul {
        justify-content: flex-end; /* Alinha o menu à direita na versão desktop */
        display: flex; /* Exibe o menu na versão desktop */
    }
    menu > ul > li {
        margin-right: 40px;
    }
    section {
        margin: 40px;
        padding: 40px;
    }
    span#burguer {
        display: none; /* Oculta o botão hamburger em resoluções maiores que 767px */
    }
}

/*versao celular*/
@media only screen and (max-width: 767px){
    /*para o hamburguer nao aparecer*/
    span#burguer {
   display: none;
   display: block; /* Exibe o ícone do menu hamburguer apenas na versão móvel */
   position: absolute; /* Posiciona o botão hamburger */
   top: 20px;
   right: 20px;
   background: none;
   border: none;
   color: #fff;
   font-size: 20px;
   cursor: pointer;
   z-index: 999; /* Garante que o botão hamburger esteja acima de outros elementos */
    }
    span#burguer:focus{
        outline: none; /* Remove a borda de foco */
    }
    p{
        font-size: medium;
    }
    /*para o menu aparecer*/
    menu {
    display: block;
    
    }
    /*para tornar o menu em blocos um do lado do outro*/
    menu > ul > li {
    display: inline-block;
  
    }

    header {
        padding: 15px;
    }
    
}