@charset "UTF-8";

* {
margin: 0px;
padding: 0px;

}

main{

    width: 90vw;
}
body{

    background-color: #F2A950;
    font-family: Arial, Helvetica, sans-serif;
   
}

header{
    background-color: #590202;
    padding: 10px;
}

header > h1 {

    color: white;
    text-align: center;
}

span#burguer{
   background-color: #200404;
   color: white;
   display: block;
   text-align: center;
   padding: 25px;
/*tag para fazer o cursor virar uma mão*/
    cursor: pointer;
}
  /*com o hover quando passar o mouse tera interação*/
span#burguer:hover{

    background-color: #722d2d;
}
menu {
    /*tag para lementos que se comportam como bloco*/
    /*none para nao aparecer o menu*/
        display: none;
     
    }
    
    /*caminho para acessar a ul dentro do menu*/
    menu > ul {
        /*tag para tirar as bolinhas da lista nao ordenada*/
        list-style-type: none;
    
    }
    /*caminho para acessar a tag a dentro da ul dentro do menu*/
    menu > ul > li > a{
     /*tag para lementos que se comportam como bloco*/
        display: block;
    /*para dar espaçamento*/
        padding: 10px;
    /*tira o sublinhado do link*/   
        text-decoration: none;
    /*dando cor ao bloco*/    
        background-color: #590202;
    /*colocando cor na letra*/
        color: white;
    /*centralizando o texto*/
        text-align: center;        
    
    }

    /*com o hover quando passar o mouse tera interação*/

    menu > ul > li > a:hover{

        background-color: #a02c2c;
    }
    
    input{
        border-radius: 15px;
    }
h1{
    color: black;
    
    text-align: center;
}

h4{
    color: black;
    background-color: #D9751E;
    text-align: center;
 
}
.text{
    color: aliceblue;
}

p{
text-align: center;

}

.center{

    text-align: center;
}
.right{
    margin: auto;
    padding: auto;
    text-align: right;
}


table{ /*Cenralizando tabela*/
    margin-left: auto;
    margin-right: auto;

}

a{
  
    color: #590202;
    text-decoration: none;
}

img {

    border-radius: 10px;
}
main {

    padding: 20px;

}

.conteiner{
    display: flex;
    flex-direction: column;
}

div#conteiner{

    overflow-x: auto;
}


.botao{

position:absolute;

right:50px;
margin:0px;
padding:0px;
font: bold 12px/24px arial, helvetica, sans-aerif;	
padding:0px;
text-decoration: none;
text-align:center;	
background-color: white;	
width:130px;  
height:30px;	
display:block;	
font-size: medium;
border-radius: 15px;
}
/*card layout*/
/* Estilos comuns para os cards */
.secao4 {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.secao4-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
  
}

.secao4-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(70% / 3 - 60px);
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #D9751E;
    transition: all 0.5s ease;

}

.secao4-div-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.secao4-div-card img {
    width: 35%;
    height: auto;
}

.secao4-div-card h3 {
    margin-bottom: 0px;
}

/* Estilos para dispositivos moveis */
@media (max-width: 768px) {
    .secao4-div-card {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    img {
      width: 100%;
      flex-direction: column;
    }
  }

  /*rodape*/
  footer {
	background-color: #590202;
	color: white;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
    a{

        color: white;
    }
}